@using HelloCoreMvcApp.Models.Products
@model IEnumerable<HelloCoreMvcApp.Models.Products.Phone>
@{
    ViewData["Title"] = "Buy whatever you want and get nothing";
    var product = ViewData["ProductDay"] as Phone;
    Random rnd = new Random();

    List<Ship> ships = (List<Ship>)ViewData["Ships"];
    List<ToiletPaper> toiletPapers = (List<ToiletPaper>)ViewData["Papers"];
}

<div class="jumbotron">
    <div class="row">
        <div class="col-sm-4">
            <img class="img-fluid" src="@("https://source.unsplash.com/800x800/?phone-" + product.Company.Name )" />
        </div>
        <div class="col-sm-8" style="display:flex; flex-direction: column;">
            <h1 class="display-custom">PRODUCT OF THE DAY</h1>
            <h4 class="font-weight-bold"> @product.Company.Name @product.Name &nbsp;&nbsp;&nbsp;&nbsp; $@product.Price</h4>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida. Risus commodo viverra maecenas accumsan lacus vel facilisis. </p>
            <div style="margin-top: auto;">
                <button class="btn btn-primary">BUY</button> <a class="btn btn-secondary" href="~/ShoppingCart/AddCartItem/@product.Id">ADD TO SHOPPING CART</a>
            </div>

        </div>
    </div>
</div>

<div class="border-bottom category-name"><a href="">// SMARTPHONES</a></div>
<div class="container category">
    <div class="row card-deck">
        @for (int i = 0; i < 8; i++)
        {
            int id = rnd.Next(0, Model.Count());
            var phone = Model.ElementAt(id);
            <div class="col-3">
                <a href="@("/Catalog/Phone/" + phone.Id)">
                    <div class="card">
                        <div class="card-body">
                            <u class="card-title">@phone.Company.Name</u> <u class="card-title float-right">$@phone.Price</u> <br />
                            <u class="card-title">@phone.Name</u>
                        </div>
                        <img class="card-img-bottom" src="@( "https://source.unsplash.com/800x800/?" + phone.Company.Name + "-phone-" + phone.Id )">
                    </div>
                </a>
            </div>
        }
    </div>
</div>

<div class="border-bottom category-name mt-4"><a href="">// SHIPS</a></div>
<div class="container category">
    <div class="row card-deck">
        @for (int i = 0; i < 8; i++)
        {
            int id = rnd.Next(0, ships.Count());
            var ship = ships.ElementAt(id);
            <div class="col-3">
                <a href="@("/Catalog/Ship/" + ship.Id)">
                    <div class="card">
                        <div class="card-body">
                            <u class="card-title">@ship.Name</u> <br />
                            <u class="card-title">$@ship.Price</u>
                        </div>
                        <img class="card-img-bottom" src="@( "https://source.unsplash.com/800x800/?ship-" + ship.Id )">
                    </div>
                </a>
            </div>
        }
    </div>
</div>

<div class="border-bottom category-name mt-4"><a href="">// TOILET PAPERS</a></div>
<div class="container category">
    <div class="row card-deck">
        @for (int i = 0; i < 8; i++)
        {
            int id = rnd.Next(0, toiletPapers.Count());
            var paper = toiletPapers.ElementAt(id);
            <div class="col-3">
                <a href="@("/Catalog/ToiletPapers/" + paper.Id)">
                    <div class="card">
                        <div class="card-body">
                            <u class="card-title">@paper.Name</u> <br />
                            <u class="card-title">$@paper.Price</u>
                        </div>
                        <img class="card-img-bottom" src="@( "https://source.unsplash.com/800x800/?toilet-paper-" + paper.Id )">
                    </div>
                </a>
            </div>
        }
    </div>
</div>
